@media screen and (min-width: 505px){
    h1{
        background-color: black;
    }
    #sectionParent{
        width: 1000px;
    }
    .background-images{
        width: 800px;
        height: 100vh;
        margin:auto;
    }
}