@media screen and (min-width: 505px){
    h1{
        background-color: black;
    }
    #sectionParent{
        width: 900px;
    }
    #Telsa-Home{
        width: 800px;
        height: 800px;
        margin:auto;
        background-size: auto;
        /* I have to invert the code in the files changing it's function  */
    }
    .background-images{
        width: 800px;
        height: 800px;
        margin:auto;
        background-size: auto;
    }
}