/* .background-photo{
    width: 300px;
} */

#Telsa-Home{
    background-image: url('./assets/twoModels.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
}

.SubTitle{
    position: absolute; 
    display: inline-block;
    top: 15%;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    font-size: 40px;
}

#car-model-y{
    background-image: url('./assets/ModelY_58.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
}

#car-model-3{
    background-image: url('./assets/Model3-66.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
}

#car-model-x{
    background-image: url('./assets/ModelX_62.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
}

#car-model-s{
    background-image: url('./assets/ModelS_70.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
}

#car-model-cbertruck{
    background-image: url('./assets/Cybertruck_66.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
}

#Solar-Panels{
    background-image: url('./assets/SolarPanels_90.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
}

#Solar-Roof{
    background-image: url('./assets/SolarRoof_89.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
}

#Powerwall{
    background-image: url('./assets/0x0-PowerwallPlus_01.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
}

#Acessories{
    background-image: url('./assets/acessories.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
}